body{
  margin:0;
  font-family:Poppins, sans-serif;
  background:#081a13;
  color:#eafff4;
}

/* HERO */
.hero{
  height:100vh;
  background:url('../assets/bg-hero.jpg') center/cover fixed;
  position:relative;
}
.overlay{
  position:absolute;
  inset:0;
  background:rgba(0,50,30,.9);
}
.hero-content{
  position:relative;
  top:50%;
  transform:translateY(-50%);
  text-align:center;
}

/* PORTOFOLIO */
.portfolio{
  height:100vh;
  background:url('../assets/bg-portfolio.gif') center/cover;
  position:relative;
}

/* QUESTIONNAIRE */
.questionnaire{
  background:url('../assets/bg-questionnaire.jpg') center/cover fixed;
  position:relative;
}

/* GLASS */
.glass{
  backdrop-filter:blur(14px);
  background:rgba(255,255,255,.08);
  border-radius:22px;
  padding:45px;
}

/* FORM */
.form{
  max-width:750px;
  margin:80px auto;
}
label{ margin-top:25px; display:block; }
textarea,input,select{
  width:100%;
  margin-top:10px;
  padding:12px;
  border-radius:8px;
}

/* BUTTON */
.btn{
  margin-top:30px;
  width:100%;
  padding:15px;
  background:#1fa971;
  border:none;
  border-radius:10px;
  color:white;
}
.btn-outline{
  border:2px solid #5fd38a;
  padding:12px 25px;
  color:#5fd38a;
  text-decoration:none;
}

/* PROFILE */
.profile-img{
  width:160px;
  border-radius:50%;
  margin-bottom:20px;
}

